@media (min-width: 1024px) { 
  #main {
    font-size: 1.2em;
    overflow: hidden;
  }

  .main-image {
    width: 70%;
  }

  .child {
    position: relative;
    top: 50%;
    height: 100vh;
    width: 100%;
    margin-top: -128px; /* account for padding and border if not using box-sizing: border-box; */
    overflow: hidden;
  }

  #main .imgBorder {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
  }

  .float{
    position:fixed;
    width:25%;
    height:25%;
    bottom:5vh;
    right:0px;
    color:#FFF;
    text-align:center;
  }
}

.bg-image {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.50)
    ), url("bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
